* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #f2f2f2f2;
  color: #555555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

@import "./components/_nav-bar.scss";
@import "./components/_landing-image.scss";