.github-stats {
  height: 50vh;
  width: 100vw;
  background-color: #2F363F;
  text-align: center;
  word-wrap: break-word;

  .text {
    position: relative;
    display: inline-block;
    top: 5%;
    color: white;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
  }

}

