.nav-bar {
  font-family: 'Quicksand', sans-serif;
  display: inline;
  text-align: center;

  position: fixed;
  width: 100vw;
  z-index: 999999;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 700;
  }

  li {
    display: inline;
  }

  li a {
    display: inline-block;


    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #ffd686;
  }
}